<mat-card  class="example-card mat-elevation-z4"  >
    <div>
      <mat-card-title>Welcome to BestMarket</mat-card-title>
      <mat-card-subtitle style="color: rgb(74, 170, 74);">All your daily needs in one place</mat-card-subtitle>
    </div>
    <img mat-card-image [src]="'https://www.usnews.com/dims4/USNEWS/5f475a0/2147483647/crop/2000x1334%2B0%2B0/resize/970x647/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2Fa5%2F60%2Fbe7bf1ac4894a3098e04b0c080c6%2F200820-1000cash-stock.jpg'" [alt]="'Homepage image'" style="max-height: 90%; min-height: 200px;">
    <mat-card-content>
      <p>
          We have everything. From things that you need to things that you  never imagine you  need.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" style="width: 100%;" routerLink="/products">Browse Products</a>
    </mat-card-actions>
  </mat-card>